/* HTML Selectors*/
body {
    color: hsl(212, 21%, 14%);
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 24px;
    padding-right: 20%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding-left: 5%;
    padding-right: 20%;
}

h6 {
    padding-left: 5%;
    line-height: .75;
    letter-spacing: 1px;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
}

p {
    font-size: 14px;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 20%;
}


/* Class Selectors*/

.attribution { 
    font-size: 11px; 
    text-align: center;    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 12px;
    color: white;
    display: block;
    font-size: 14px;
    margin: auto;
    padding: 12px 28px;
    text-align: center;
    width: 90%;
}

.original-price {
    padding-left: 100%;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.product-column-one {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0;
    width: 300px;
}

.product-column-two {
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
    width: 350px;
    padding-left: 15px;
    padding-right: 10px;
}

.product-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    padding: 0;
    width: 300px;
}

.product-table {
    border: 0;
    border-spacing: 0;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 15%;
    width: 600px;
}


/* HTML Selectors*/




/* HTML Selectors*/